*{
    margin: 0em;
    padding: 0em;
    list-style: none;
    text-decoration: none;
}

#content{
    width: 100%;
    min-height: 500px;
}
header{
    width: 100%;
    height: 70px;
    background-color: #0082e6;
    z-index: 56;
    position: fixed;
    
}
label.logo{
    font-size: 35px;
    color: white;
    padding: 0 150px;
    line-height: 80px;
    font-weight: bold;
}
header ul{
    float: right;
    margin-right: 40px;
}
header ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
/* ------------------------sous menu--------------------------------- */
header ul li:nth-of-type(2){
    width: 120px;
    height: 80px;
}
header ul li ul li{display: none;}
header ul li ul{
    width: 150px;
    background-color: cadetblue;
    position: relative;
    margin: inherit;
    padding: inherit;
    left: 2rem;
    top: -2rem;
}
header ul li:hover ul li{display: block;}
/* ------------------------------------------------------||---------------------- */
header ul li a{
    color: white;
    text-transform: uppercase;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
}
a:hover{
    background: #1b9bff;
    transition: .5s;
}
.checkbnt{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{display: none;}
/* section */


#Accueil{
    width: 100%;
    overflow: hidden;
    height: 650px;
   
}
#Accueil #image{
    width: 650px;
    height: 400px;
    position: absolute;
    display: inline-block;
    overflow: inherit;
    left: 25%;
    
}
#Accueil h1{
    margin-top: 4rem;
}

.one{
    position: relative;
    left: 25px;
    background: url(image/mes.jpg);
    background-position: center;
    background-size: cover;
    animation-name: transition;
    animation-duration: 4s;
    animation-timing-function: ease-in;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
.two{
     background: url(image/mess.jpg);
     background-position: center;
    background-size: cover;
     animation-name: transition1;
     animation-duration: 4s;
     animation-timing-function: ease-in;
     animation-direction: alternate;
     animation-iteration-count: infinite;
    }  
.three{
    background: url(image/messi.jpg);
    background-position: center;
    background-size: cover;
    animation-name: transition2;
    animation-duration: 4s;
    animation-timing-function: ease-in;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
.four{
    background: url(image/messii.jpg);
    background-position: center;
    background-size: cover;
    animation-name: transition3;
    animation-duration: 4s;
    animation-timing-function: ease-in;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes transition{
    0%{z-index: 3;}
    25%{z-index: -8;}   
    50%{z-index: 3;}
    75%{z-index: -8;}
    100%{z-index: 2;}    
}
@keyframes transition1{
    0%{z-index: 1;}
    25%{z-index: 3;}   
    50%{z-index: -9;}
    75%{z-index: -8;}
    100%{z-index: 1;}    
}
@keyframes transition2{
    0%{z-index: 2;}
    25%{z-index: -8;}   
    50%{z-index: 3;}
    75%{z-index: -8;}
    100%{z-index: -7;}    
}
@keyframes transition3{
    0%{z-index: -1;}
    25%{z-index: -8;}   
    50%{z-index: -6;}
    75%{z-index: -8;}
    100%{z-index: 3;}    
}

h1{
    text-align: center;
    font-size: 40px;
    text-decoration: underline;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 90px;
    margin-bottom: 3rem;
}
#Biographie,#Exploits{
    width: 100%;
    background-color: #c7ecee;
}
article{
    border: solid .5px #ccc;
    display: inline-block;
    width: 35%;
    height: 450px;
    border-radius: 5px;
    margin-left: 10%;
    margin-bottom: 3rem;
    position: relative;
    top: -10rem;
    animation-name: times_color;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: reverse;
    animation-timing-function: ease-in;
}
@keyframes times_color{
    0%{background: linear-gradient(to top right,red,yellow);}
    25%{background: linear-gradient(to top,yellow,red);}   
    50%{background: linear-gradient(to top,red,yellow);}
    75%{background: linear-gradient(to top,yellow,red);}
    100%{background: linear-gradient(to top,red,yellow);} 
}
article img{
    vertical-align: middle;
    width: 97%;
    height: 97%;
    border-radius: 5px;
    position: relative;
    top: 6px;
    left: 7px;
}
aside{
    display: inline-block;
    width: 50%;
    height: 450px;
    position: relative;
    left: 2rem;
}
aside p{
    padding: 3rem;
    color: black;
    line-height: 25px;
    text-align: justify;
}
 /* Experience */
 ul{
    list-style: none;
}
#Experience ul,#Exploits ul{
    border-left: 2px solid #40424a;
    margin-left: 60px;
}
#Experience li,#Exploits li{
    padding-left: 50px;
    margin-bottom: 20px;
    position: relative;
}
#Experience .rond,#Exploits .rond{
    position: absolute;
    width: 15px;
    height: 15px;
    border: 2px solid #40424a;
    border-radius: 50px;
    background: #cacaca;
    top: 30px;
    left: -10px;

}
#Experience li h2,#Exploits li h2{
    font-size: 50px;
    margin-bottom: 8px;
    color: #40424a;
}
#Exploits li h2{font-size: 30px;}
#Experience li h3,#Exploits li h3{
    font-size: 20px;
    color: #40424a;
    margin-bottom: 5px;
    font-weight: 600;
    font-family: 'Josefin Sans', sans-serif;
    
}
#Experience li h4,#Exploits li h4{
    font-size: 10px;
    text-transform: uppercase;
    color: #808181;
    margin-top: 10px;
    margin-bottom: 20px;
    font-weight: 600;
    font-family: 'Josefin Sans', sans-serif;
}
#Experience p,#Exploits p{
    font-size: 18px;
    color: #808181;
    line-height: 1.8;
}
#Hobbies{padding-bottom: 3rem;}
#Hobbies h4{
    text-align: center;
    line-height: 40px;
    animation: apparution 3s infinite ;
}
#Hobbies h4:nth-of-type(1){animation: apparution1 5s infinite ;}
#Hobbies h4:nth-of-type(2){animation: apparution2 5s infinite ;}
#Hobbies h4:nth-of-type(3){animation: apparution3 5s infinite ;}
#Hobbies h4:nth-of-type(4){animation: apparution4 5s infinite ;}
#Hobbies h4:nth-of-type(5){animation: apparution5 5s infinite ;}
    

@keyframes apparution1{
    0%{font-size: 5px;}
    20%{font-size: 25px;}
    100%{font-size: 25px;}
}        
@keyframes apparution2{
    0%{font-size: 0px;}
    20%{font-size: 5px;}
    40%{font-size: 25px;}
    100%{font-size: 25px;}
}        
@keyframes apparution3{
    0%{font-size: 0px;}
    20%{font-size: 0px;}
    40%{font-size: 5px;}
    60%{font-size: 25px;}
    100%{font-size: 25px;}
}        
@keyframes apparution4{
    0%{font-size: 0px;}
    20%{font-size: 0px;}
    40%{font-size: 0px;}
    60%{font-size: 5px;}
    80%{font-size: 25px;}
    100%{font-size: 25px;}
}        
@keyframes apparution5{
    0%{font-size: 0px;}
    20%{font-size: 0px;}
    40%{font-size: 0px;}
    60%{font-size: 0px;}
    80%{font-size: 5px;}
    100%{font-size: 25px;}
}        
    

#Propos{
    background-color: #c7ecee;
    height: 400px;
    padding-bottom: 3rem;
}#Propos p{
    text-align: justify;
    padding: 0 50px 0 50px;
    margin-bottom: 3rem;
}
#Propos p::first-letter{
    margin-left: 5rem;
}
/* footer */
footer {
    width: 100%;
    height: 100px;
    text-align: center;
    line-height: 80px;
    background-color: #535c68;
}



/* responsive disign */

@media (max-width:1220px){
    label.logo{
        font-size: 30px;
        padding-left: 30px;
    }
    header ul li a{
        font-size: 10px;
    }
}
@media (max-width:890px){
    label.logo{
        font-size: 30px;
        padding-left: 30px;
    }
    header ul li a{
        font-size: 10px;
    }
    
}
@media (max-width:858px){
    .checkbnt{
        display: block;
    }
    header ul{
        position: fixed;
        width: 100%;
        height: 30vh;
        background-color: #2c3e50;
        top: 70px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    header ul li{
        display: block;
        line-height: 30px;
    }
    header ul li a:hover{
        background: none;
        transition: .5s;
        color: #1b9bff;
        font-size: 20px;
    }
    header ul li:nth-of-type(2){
        border: solid;
        margin-left: 11rem;
        height: 25px;
    }
    header ul li ul{display: none;}
    #check:checked ~ ul{left: 0;}
    header ul li:hover ul{display: block;}
    header ul li ul{
        position: relative;
        margin: inherit;
        padding: inherit;
        left: 10rem;
        top: -2rem;
        z-index: 7;
    }
    /* section */
    h1{font-size: 25px;}
    #Accueil #image{
        width: 450px;
        height: 250px;
        position: absolute;
        display: inline-block;
        overflow: inherit;
        left: 3%;
        
    }   
    aside{
        display: block;
        width: 120%;
        height: 350px;
        position: relative;
        left: -3rem;
    }
    aside p{
        padding: 4rem;
        color: black;
        line-height: 15px;
        text-align: justify;
    }
    article img{
        vertical-align: middle;
        width: 97%;
        height: 97%;
        border-radius: 5px;
        position: relative;
        top: 3.5px;
        left: 6px;
    }
    article{
        width: 90%;
        height: 250px;
        border-radius: 5px;
        position: relative;
        top: 1rem;
        left: -2rem;
    }

    /* footer */
    footer {
        width: 100%;
        height: 80px;
        text-align: center;
        line-height: 80px;
    }
    footer h2{
        font-size: 15px;
    }
    
}